html, body {
	position: relative;
	width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
  box-sizing: border-box;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: whitesmoke;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

header, h1, h2, h3 {
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 200;
}

h2 {
  font-weight: 200;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 24px;
  padding-bottom: 16px;
  box-sizing: border-box;
}
table {
  padding-left: 24px;
  width: calc(100% - 48px);
}
th:nth-child(1),
td:nth-child(1) {
  border-left: 1px solid lightgray;
}

th:nth-child(4),
td:nth-child(4) {
  border-right: 1px solid lightgray;
}
th, td {
  height: 36px;
  border-right: 1px solid darkgray;
}
td:nth-child(5){
  border-right: none;
}
th {
  border: 1px solid lightgray;
  border-left: none;
}
i {
  padding-left: 12px;
  font-size: 28px;
}